.header {
  grid-area: header;
  background-color: #ffffff50;
  width: 100%;
  font-size: calc(20px + 2vmin);
  color: #000000;
}

.sidebar {
  grid-area: sidebar;
  margin-top: 10px;
  background-color: #ffffff50;
}

.content {
  grid-area: content;
}

body {
  background: linear-gradient(
    112.92deg,
    #bae8f2 0.29%,
    #ffeafe 99.29%
  );
}
.App {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 300px));
  grid-template-rows: 3em 80%;
  grid-template-areas: 'header header' 'sidebar content';
  gap: 10px;
  margin: 0 auto 0;
}
